/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
}

#canvas-container {
  width: 100vw;
  height: 100vh;
  background-color: rgb(40, 34, 34);
}

canvas {
  touch-action: none;
}

.screen-iframe-container iframe {
  width: 1024px;
  height: 670px;
  border: none;
  border-radius: 20px;
  background-color: white;
}
