
<div>
  <header>
    <h1>ANGULAR STATES</h1>
  </header>

  <h2>Routing</h2>
  <router-outlet></router-outlet>

  <h2>RxJS Operators</h2>

  <label for='username'>
    GitHub username:
    <input id='username' #nameInput/>
  </label>

  <h2>NgRx Store</h2>
  <app-my-counter></app-my-counter>

  <h2>Advanced Component</h2>

  <h3>Content projection</h3>
  <form-page></form-page>

  <h3>Dynamic component</h3>
  <dynamic-comp></dynamic-comp>

  <h3>Template component</h3>
  <tmpl-comp></tmpl-comp>

  <h3>View encapsulation</h3>
  <div>emulated</div>
  <emulated-comp></emulated-comp>
  <div>shadow dom</div>
  <shadow-comp></shadow-comp>
  <div>global</div>
  <global-comp></global-comp>

  <h3>Change detection</h3>
  <change-detection-comp></change-detection-comp>

  <h3>Custom directive</h3>
  <directive-comp></directive-comp>

  <h3>Provider demo</h3>
  <providers-demo></providers-demo>
</div>
