
// color
$color-primary: #e12120;
$color-primary-light: #e06867;
$color-primary-dark: #b31818;

$color-gray-light: #f5eded;
$color-black: #000;
$color-white: #fff;

// text
$color-text-dark: white;


$default-font-size: 1.6rem;
